<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="mb-0">Schools</h4>
    <button class="btn btn-sm custom-button" routerLink="/school/add">Add School</button>
</div>
<hr>
<div class="row g-4">
    @for (school of schools; track school.id) {
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" (click)="schoolDetail(school.id)">
            <div class="card-body d-flex align-items-center">
                <img src="{{school.logo}}" alt="School Logo" class="school-logo me-3">
                <h6 class="card-title mb-0">{{ school.name }}</h6>
            </div>
        </div>
    </div>
    }
</div>