<!-- <div class="container-scroller">
    <app-navbar></app-navbar>
    <app-header *ngIf="showNavbar"></app-header>
    <div class="container-fluid p-0 page-body-wrapper" #pageBodyWrapper>
        <app-sidebar *ngIf="showSidebar"></app-sidebar>
        <div class="main-panel" [ngClass]="{ 'main-panel-only' : !showSidebar }" #mainPanel>
            <div class="content-wrapper" #contentWrapper>
                <div contentAnimate *ngIf="!isLoading" class="h-100">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <app-footer *ngIf="showFooter"></app-footer>
        </div>
    </div>
</div> -->

<app-navbar></app-navbar>
<div class="main-panel main-panel-only">
    <div class="content-wrapper">
        <div class="h-100">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
