
:host {
    width: 100%;
}

.footer {
    background: var(--dashboard-text-color);
    color: var(--dashboard-text-color);
    padding: 5px 2.5rem;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    width: 100%;
    position: absolute;
    bottom: 0;

    a {
        color: var(--secondary-color) !important;
        font-size: 0.9rem !important;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .footer{
        text-align: center;
        padding: 5px;

        span{
            font-size: 1rem !important;
        }

        a{
            font-size: 0.95rem !important;
        }
    }
}