.ag-theme-quartz {
    --ag-row-border-color: rgb(150, 150, 200);
    --ag-cell-horizontal-border: solid rgb(150, 150, 200);
}

.fas {
    font-size: 18px;
    color: var(--secondary-color);
}

button:hover {

    .fas,
    .button-label {
        color: var(--primary-color);
        transition: color 0.2s ease-in;
    }
}


.button-label {
    font-size: 12px;
    text-align: center;
    color: var(--secondary-color);
}