<div class="container-fluid">
    <div class="row mb-3">
        <div class="d-flex justify-content-center gap-3">
            <button class="btn" placement="top" ngbTooltip="Add New Student Details" (click)="addStudentRow()"><i
                    class="fas fa-user-plus"></i></button>
            <button class="btn" placement="top" ngbTooltip="Save Changes" (click)="saveAllStudents()"><i
                    class="fas fa-floppy-disk"></i></button>
            <button class="btn" placement="top" ngbTooltip="Clear" (click)="clearNewStudents()"><i
                    class="fas fa-delete-left"></i></button>
            <button class="btn" placement="top" ngbTooltip="Delete" (click)="deleteSelectedStudents()"><i
                    class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ag-grid-angular #agGrid [rowData]="rowData" [columnDefs]="colDefs" [defaultColDef]="defaultColDef"
                [gridOptions]="gridOptions" (selectionChanged)="onSelectionChanged($event)" class="ag-theme-quartz"
                style="height: 70vh; width: 100%;">
            </ag-grid-angular>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">

        </div>
    </div>
</div>