.card {
    border-radius: 0.75rem;
}

.card-footer {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-body h3 {
    font-weight: bold;
    margin-top: 10px;
}

table th,
table td {
    vertical-align: middle;
}

table th {
    font-weight: 600;
}