<div class="modal-header">
    <h5 class="modal-title">Add Classes</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
        <div formArrayName="classes">
            <div *ngFor="let classGroup of classes.controls; let i = index" [formGroupName]="i" class="mb-3">
                <label for="className-{{i}}" class="form-label">Class Name</label>
                <div class="input-group">
                    <input type="text" id="className-{{i}}" formControlName="name" class="form-control"
                        placeholder="Enter class name" />
                    <button type="button" class="btn btn-outline-danger" (click)="removeClass(i)"
                        *ngIf="classes.length > 1">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                <div *ngIf="classGroup.get('name')?.touched && classGroup.get('name')?.invalid" class="text-danger">
                    <small>Class name is required.</small>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-sm custom-button mb-3" (click)="addClass()">
            <i class="fas fa-plus me-2"></i>Add Another Class
        </button>

        <div class="modal-footer">
            <button type="button" class="btn btn-sm custom-button-outlined" (click)="closeModal()">Cancel</button>
            <button type="submit" class="btn btn-sm custom-button">Submit</button>
        </div>
    </form>
</div>